NEXT_PUBLIC_API_BASE_URL=https://y2ylrfyuy1.execute-api.us-east-2.amazonaws.com
NEXT_PUBLIC_SITE_URL=https://main.d1234567890.amplifyapp.com
CONTENTFUL_SPACE_ID=tu_space_id
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_ACCESS_TOKEN=tu_content_delivery_api_token
