NODE_ENV=dev
AWS_REGION=us-east-1

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=

USERS_TABLE=isis-users-dev
BENEFITS_TABLE=isis-benefits-dev
NOTIFICATIONS_TABLE=isis-notifications-dev
DEVICES_TABLE=isis-devices-dev

CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_BLOG_CONTENT_TYPE=blogPost
CONTENTFUL_MANAGEMENT_TOKEN=

SNS_PLATFORM_APPLICATION_ARN=

LOG_LEVEL=info
CORS_ALLOWED_ORIGINS=*
